body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ca9366;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.container {
    display: flex;
    width: 1200px;
    height: 835px;
    margin: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left {
    background-color: #fff;
    padding: 30px;
    width: 40%;
    box-sizing: border-box;
    position: relative;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

.corner-icon {
    width: 60px;
    height: auto;
}

.corporation-name {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.left h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.left h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #eb8532;
    margin-top: 10px;
}

.input-container {
    margin-top: 30px;
}

.input-container i {
    margin-right: 10px;
    color: #eb8532;
}

.input-container input {
    width: calc(100% - 30px);
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.register-btn {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    background-color: #eb8532;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.signup {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.signup a {
    color: #eb8532;
    text-decoration: none;
}

.right {
    width: 60%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}